
body {
   /* background-image: url("/assets/stripes.jpg");*/
   background-image: url(/assets/fadenumbers.png);
 }


.jumbotron-fluid {
    height: 8em;
    margin-bottom: 0px;
    background-image: url(../assets/numbers.jpg);
    height:90px;
    /* background-size: cover; */
    background-position: center center;
  
    background-repeat: no-repeat;
    
    
}

/* h1.display-4 {
color: rgb(248, 138, 11);
text-shadow: black 0.3em 0.3em 0.3em;
font-size:   5em;
font-weight: bolder; 
} */


.btn {
margin-right: 9em;

background-color: #25a890 !important;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

label {
color: #25a890;
font-size: 2em;
text-shadow: .3em #f5e12a;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card{
margin:auto;
font-size: 6em;
color:#25a890;
font-weight:bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
background-image: url(../assets/whitebackground.png);
background-size: cover;
background-repeat: no-repeat;
width : 8em;
height: 7em

}

.card-body{
 
}


.form-group {
margin-left: 10em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.table {
    margin-top:10px;
background-size: cover;
background-color: #25a890 !important;
width : 10em;
height: 17em
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.answers {

    width: 10em;
    height: 5em;
    margin:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    /* background-image: url(/assets/handsback.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    object-fit: fill; */
    /* background-size: contain; */
    
    }