@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar{
background-color: #25a890;
font-family:"Roboto", sans-serif;
}

.panel-default{
    background-color: #25a890;
}



body {
    font-family: "Roboto", sans-serif;
    background: url(../assets/numbers.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1{
    margin-bottom:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5e12a;
    font-size:50px;
    
}

h2{
    margin-bottom:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5e12a;
    font-size:40px;

}
.modal-dialogue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
}

.main-section {
  
}
.blueform{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-content{
    background-color: #5bd6cc;
    opacity: .94;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    height:100px;
    width:100px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #848484;
}

#login{
    margin-bottom: 25px;
}

#login input{
    height:42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    padding-left: 60px;
    position:center;
    margin-left:20px;
}

label{
    color: #f5e12a;
    margin: 0 auto;
    font-size:20px;
  
  

}



#login::before{
    position: absolute;
    font-size: 22px;
    color:#848484;
    left:28px;
    padding-top: 4px;

}

.btn{
    background-color: #f5e12a;
    color: #007f96;
    font-size: 19px;
   
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
    width:40%;
    margin: 5px 0 25px;
}

.btn:hover, .btn:focus {
    background-color:#25a890 !important;
    border-bottom: 4px solid #25a890 !important;
}

.svg-inline--fa{
    font-size: 20px;
    margin-right: 7px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forgot{
    padding: 5px 0 25px;

}
.forgot a {
    color: #25a890;
}

.review{

    background-color: #fff;
    color: #25a890;
    padding-top:20px;

    margin: 0 auto;

    margin-top:-20px;

    margin-left:30px;

    box-shadow: 0px 0px 8px #848484;

    opacity: .94;

    padding: 0 18px;

        border-radius: 5px;

 

 

}

 

h4{

    color: #25a890;

}

 

.checked {

    color: orange;

}

