<!DOCTYPE html>
<html>

<head>
  <title></title>
  <title></title>
  <!--<link rel="stylesheet" href="{{css}}"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <div class="modal-dialogue text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">

        <div class="col-12">

          <div class="col-12 user-img">
            <img src="/assets/face.png">
          </div>

          <form class="col-12" id="login" name="login" method="post" action="login">
            <h1> Do The Math</h1>
            <label for="email"> Email Address</label>
            <input class="text" name="email" type="text" />
            <br>
            <br>
            <label for="password">Password</label>
            <input name="password" type="password" />
            <br>
            <br>
            <input class="btn" type="submit" value="Log In" />
          </form>

          <form id="home" name="home" action="home">
            <input class="btn btn-primary btn-lg" type="submit" value="home" />
          </form>

        </div>

      </div>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>

</html>