<!DOCTYPE html>
<html>

<head>
  <title></title>
    <title></title>
     <!--<link rel="stylesheet" href="{{css}}"> -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <div class="modal-dialogue text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">

        <div class="col-12">

        <div class ="col-12 user-img">
          <img src = "/assets/face.png">
        </div>

      <form class="col-12" id="login" name="login" method="post" action="login" >
            <h1> Do The Math</h1>
            <label for = "email"> Email Address</label>
            <input class ="text" name="email" type="text"/>
            <br>
            <br>
            <label for = "password">Password</label>
            <input name ="password" type="password"/>
            <br>
            <br>
            <input class = "btn" type="submit" value="Sign In" />
            </form>
          <!--<div class ="form-group">
            <input type="text" class="form-control" placeholder="Enter User Name">
          </div>
          <div class ="form-group">
            <input type="password" class="form-control" placeholder="Enter Password">
          </div>
          <button type ="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
        </form> -->
<<<<<<< HEAD

          {{!-- <form id="login" name="login" method="post" action="login">
=======
{{!-- 
          <form id="login" name="login" method="post" action="login">
>>>>>>> 75bdac4b68c2cb4e074761f7b07a1df8b0bab4bf
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Sign In" />
          </form> --}}

          <div class="col-12 forgot">
            <a href="#">Forgot Password?</a>
          </div>

        </div>

      </div>
    </div>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>

</html>