<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
  <div class ="modal-dialogue text-center">
    <div class = "col-sm-8 main-section">
      <div class ="modal-content">

        <div class ="col-12 user-img">
          <img src = "../public/assets/face.png">
        </div>

        <form class="col-12">
            <h1> Do The Math</h1>
          <div class ="form-group">
            <input type="text" class="form-control" placeholder="Enter User Name">
          </div>
          <div class ="form-group">
            <input type="password" class="form-control" placeholder="Enter Password">
          </div>
          <button type ="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
        </form>

        <div class ="col-12 forgot">
          <a href="#">Forgot Password?</a>
        </div>

      </div> 

    </div>
  </div>

</body>

</html>