<!DOCTYPE html>
<html>

<head>

   
</head>

<body>
<div class ="modal-dialogue text-center">
    <div class = "col-sm-8 main-section">
      <div class ="modal-content">

        
<form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>

       

      </div> 

    </div>
  </div>
  <div class = "col-4 review">
    <h4><em>What our customers have to say...</em></h4>

   

    <span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<span class="fa fa-star"></span>

<p><em>"Do The Math has been so helpful for my kids! I've seen dramatic improvements in their grades since signing up for the program.""

  - Lesley K.

</em></p>

<span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<span class="fa fa-star checked"></span>

<p><em> "I feel like my son is already ahead of the curve by practicing Do The Math's exercises at such a young age."

  - Mark W.

</em></p>

  </div>

</body>
</html>