<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

  <div class="modal-dialogue text-center">

    <div class="col-sm-8 main-section">

      <div class="modal-content">
        <div classname="blueform">
          <div>
            <h1>Do The Math</h1>
            <h2>Sign Up</h2>

          </div>
          <form id="signup" name="signup" method="post" action="/signup">


            <label for="firstname">First Name</label>
            <input name="firstname" placeholder="Enter your Name" type="text" />

            <label for="lastname">Last Name</label>
            <input name="lastname" placeholder="Enter your Name" type="text" />

            <label for="email">Email Address</label>
            <input class="text" placeholder="Enter email" name="email" type="email" />

            <label for="password">Desired Password</label>
            <input name="password" placeholder="Enter desired password" type="password" />

            <input class="btn" type="submit" value="Sign Up" />
          </form>

          <form id="home" name="home" action="home">
            <input class="btn btn-primary btn-lg" type="submit" value="home" />
          </form>
        </div>

      </div>

    </div>
  </div>
  <div class="col-4 review">
    <h4>
      <em>What our customers have to say...</em>
    </h4>



    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star"></span>

    <p>
      <em>"Do The Math has been so helpful for my kids! I've seen dramatic improvements in their grades since signing up for
        the program."" - Lesley K.

      </em>
    </p>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <span class="fa fa-star checked"></span>

    <p>
      <em> "I feel like my son is already ahead of the curve by practicing Do The Math's exercises at such a young age." - Mark
        W.

      </em>
    </p>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>

</html>