<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
        <style>
        </style>

        <style ref=""></style>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 id="header">
                        <d>DO</d>
                        <i>THE</i>
                        <b>MATH</b>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form action="/logout" method="GET">
                            <button type="submit">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </nav>
        <div class="container">

            <div class="col">
                <div class="row bigboi">
                    <div class="col-6">

                        <div class="card p-4">


                            <a href="/curriculum">
                                <h4 class="card-header">Curriculum Overview</h4>
                            </a>


                            <div class="card-body">



                                <p class="card-text">Find out about our curriculum and what your child can learn on dothemath</p>



                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card p-4">
                            <div class="card-body">

                                <form>


                                    <label for="name"> Name</label>
                                    <input id="nameInput" name="name" placeholder="Enter your Name" type="text" />

                                    <label for="age">age</label>
                                    <input id="ageInput" name="age" placeholder="Enter your Age" type="integer" />

                                    <button class="btn btn-primary btn-sm float-right" type="submit" id="addsome">Add child</button>
                                </form>


                            </div>
                        </div>
                    </div>


                    <div class="col-6 mt-4">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/Settings"></a>
                                    <h4 class="card-header">Settings</h4>
                                </a>
                                <p class="card-text">Customerize user settings to match your preference</p>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4" id="studentDisplay">
                        <div class="card mb-1 text-center">
                            <h4>Students Registered</h4>
                            <div class="card-body p-1">
                                <ul class="list-group">
                                    {{#each student}}
                                    <div class="listItem p-2">
                                        <form class="studForm">
                                            <li class="list-group-item">
                                                <span class="available">{{student}}</span>
                                                <input type="hidden" name="delete" value="true">
                                                <button class="btn btn-danger btn-sm float-right" type="submit">Play Game</button>
                                            </li>
                                        </form>
                                    </div>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-6 mt-4">
                        <div id="progress" class="card p-4">
                            <div class="card-body">
                                <a href="/Progress Track">
                                    <h4 class="card-header">Progress Tracker</h4>
                                </a>
                                <p class="card-text">Follow each users's progress and accomplishments as he or she completes learning Activities


                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col mt-4">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                        </div>

                    </div>
                </div>

            </div>

        </div>




        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/js/dash.js">

        </script>



    </body>

    </html>