<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <style>
        .myscroll {
            height: 500px;
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Do The Math</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
   
    <div class="container">
        <div class="row biggirl">
            <div class="col">
                <div class="row bigboi">
                    <div class="col-6">

                        <div class="card p-4">


                            <a href="/curriculum">
                                <h4 class="card-header">Curriculum Overview</h4>
                            </a>


                            <div class="card-body">



                                <p class="card-text">Find out about our curriculum and what your child can learn on dothemath</p>



                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/Assessment">
                                    <h4 class="card-header">Assessment Center</h4>
                                </a>
                                <p class="card-text">Purchase an Assessment subscription by clicking here.</p>


                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/Settings">
                                    <h4 class="card-header">Settings</h4>
                                </a>
                                <p class="card-text">Customerize user settings to match your preference</p>


                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/My Account">
                                    <h4 class="card-header">My Account</h4>
                                </a>
                                <p class="card-text">Update your account and billing information</p>


                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/Progress Track">
                                    <h4 class="card-header">Progress Tracker</h4>
                                </a>
                                <p class="card-text">Follow each users'sprogress and accomplishments as he or she completes learning Activities


                            </div>
                        </div>
                    </div>

                    <div class="col-6 mt-4">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/Customer Support">
                                    <h4 class="card-header">Customer Support</h4>
                                </a>
                                <p class="card-text">How can we help you?</p>


                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="card p-4">
                            <div class="card-body">
                                <a href="/Title">
                                    <h4 class="card-header"> Title</h4>
                                </a>
                                <p class="card-text">trying outText</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mt-4">
                <div class="row">
                    <div class="card"></div>
                    <div class="card-body">
                        <h5 class="card-header">Newsfeed</h5>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                All
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h5 class="card-">Card title</h5>
                        <p class="card-text">some quick example</p>
                    </div>
                </div>
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">some quick example</p>
                    </div>
                </div>
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">some quick example</p>
                    </div>
                </div>
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">some quick example</p>
                    </div>
                </div>
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">some quick example</p>
                    </div>
                </div>
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">some quick example</p>
                    </div>
                </div>
            </div>

        </div>
    </div>







</body>

</html>